<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/edit}">
    <input type="hidden" th:name=id th:value="${user.id}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{user.name}" id="name"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{user.email}" id="email"/>
    <br/>
    <label for="age">Enter age : </label>
    <input type="number" th:field="*{user.age}" id="age"/>
    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>